<div class="listings">
    <div class="sidebar">
        <p>What are you looking for?</p>
        <a href="/listings/car">Cars</a>
        <a href="/listings/truck">Trucks</a>
        <a href="/listings/motorbike">Motorbikes</a>
        <a href="/listings/rv">RVs</a>
        <a href="/listings/boat">Boats</a>
        <a href="/listings/exotic">Exotic</a>
    </div>
    {{#if listings}}
    <ul>
        {{#each listings}}
        <li class="list-item">{{>listing}}</li>
        {{/each}}
    </ul>
    {{else}}
    <div class="listing-details">
    {{>listingDetails}}
    </div>
    {{/if}}
</div>
<script src="../static/js/listings.js"></script>