<form id="loginForm" method="post" action="/login">
    <div>
        <p class="user-error" {{#unless error}}hidden="true"{{/unless}}>Invalid username or password!</p>
    </div>
    <h1>Sign in</h1>
    <label for="username">Username</label>
    <div>
        <input id="username" type="text" name="username">
    </div>
    <label for="password">Password</label>
    <div>
        <input id="password" type="password" name="password">
    </div>
    <input id="submitBtn" type="submit" value="Sign in">
    <a href="/register">Not registered yet?</a>
</form>
<script src="../static/js/validateLogin.js"></script>