<form method="post" action="/register">
    <label>Username
        <input type="text" name="username">
    </label>
    <label>Email
        <input type="text" name="email">
    </label>
    <label>Password
        <input type="password" name="password">
    </label>
    <label>Confirm password
        <input type="password" name="confpass">
    </label>
    <input type="submit" value="Sign up">
</form>

<a href="/login">Already have an account?</a>