<form id="regForm" method="post" action="/register">
    <h1>Sign up</h1>
    <div>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="password" name="confpass" placeholder="Confirm Password">
    </div>
    <input id="submitBtn" type="submit" value="Sign up">
    <a href="/login">Already have an account?</a>
</form>


