body {
    background-color: rgb(150, 216, 251);
    text-align: center;
}

nav {
    margin-left: -8px;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
    padding: 12pt;
    background-color: #181622;
}

nav a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(24, 171, 251);
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

nav a:hover {
    color: rgb(150, 216, 251)
}

#logo-link {
    display: flex;
}

#logo-link img{
    margin-top: -20px;
    margin-bottom: -40px;
}

main {
    position: relative;
    top: 100px;
}

footer {
    margin-top: 300px;
}

form {
    display: inline-block;
    background-color: #181622;
    border: solid #181622;
    border-radius: 5px;
    width: fit-content;
    padding: 20pt;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;

}

form h1 {
    color: rgb(24, 171, 251);
    font-size: 20px;
}

form input {
    color: #181622;
    background-color: rgb(150, 216, 251);
    margin: 5px;
    padding: 10px;
    border-color: #181622;
    border-radius: 5px;
    text-align: center;

}

form #submitBtn {
    color: #181622;
    background-color: rgb(24, 171, 251);
}

form #submitBtn:hover {
    color: rgb(24, 171, 251);
    background-color: #181622;
    border: solid rgb(24, 171, 251) 2px;
}

form a {
    display: block;
    text-decoration: none;
    color: rgb(24, 171, 251);
    font-size: 10px;
}

form label {
    color: rgb(24, 171, 251);
    font-size: 6pt;
    font-style: italic;
}

form p {
    color: red;
    font-size: 6pt;
    font-style: italic;
}

.listings{
    display: flex;
    align-content: flex-start;
}

.listings .list-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 10px;
    background-color: #181622;
    color: rgb(24, 171, 251);
    border: #181622 2px solid;
    border-radius: 4px;
}

.listings .list-item p {
    font-size: 16px;
    margin: 5px 70px;
    
}
.sidebar {
    border: #181622 2px solid;
    border-radius: 6px;
    background-color: #181622;
    width: fit-content;
    display: inline-block;
    padding: 10px;
    
}

.sidebar a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(24, 171, 251);
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    
}

.sidebar a:hover {
    background: rgba(24, 172, 251, 0.84);
    color: #181622;
    border: rgb(24, 171, 251);
    border-radius: 12px;
}

.sidebar p {
    margin-top: -16px; 
    padding: 6px;
    color: #181622;
    font-size: 18px;
    text-transform: uppercase;
    border: #181622 2px solid;   
    border-radius: 3px;
    background: rgb(24, 171, 251);
}

